@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none !important;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Sans', 'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic';
  line-height: 1;
}

h1,
h2,
h3,
h4,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
ul,
ol,
dl,
li,
figure {
  border: 0;
  box-sizing: border-box;
  color: inherit;
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

article,
aside,
footer,
header,
nav,
section,
main {
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.2rem;
  line-height: 1.6;
}

section {
  display: block;
  padding: 40px 0 96px;
}

@media screen and (max-width: 767px) {
  section {
    padding: 32px 0 80px;
  }
}

section:nth-child(odd) {
  background-color: #f3f1ed;
}

.wp-ttl-wrapper .wp-ttl,
.top-h2 {
  font-size: 32px;
  margin-bottom: 64px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .wp-ttl-wrapper .wp-ttl,
  .top-h2 {
    font-size: 24px;
  }
}

.accordion__ttl, .customer .customer__txt, .service .service-list .service-list__item .service-list__ttl, .steatment .steatment__right .steatment__speach {
  display: block;
  font-size: 20px;
}

.access .access-list {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.access .access-list .access-list__item {
  width: 50%;
}

@media screen and (max-width: 767px) {
  .access .access-list .access-list__item {
    width: 100%;
  }
}

.access .access-list .access-map {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  height: 300px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .access .access-list .access-map {
    margin: 0 calc(50% - 50vw);
    padding: 0 4px;
    width: 100vw;
  }
}

.access-table {
  border-collapse: separate;
  border-spacing: 0 32px;
  font-size: 16px;
  padding: 0 16px 32px 16px;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .access-table {
    font-size: 14px;
  }
}

.access-table .access-table__th {
  border-right: 2px solid #2f87bf;
  padding-right: 16px;
}

@media screen and (max-width: 767px) {
  .access-table .access-table__th {
    font-size: 14px;
    padding-right: 8px;
    width: 80px;
  }
}

.access-table .access-table__td {
  padding-left: 16px;
}

@media screen and (max-width: 767px) {
  .access-table .access-table__td {
    font-size: 14px;
    padding-right: 8px;
  }
}

.accordion {
  margin-bottom: 8px;
}

.accordion__top {
  border-bottom: 1px dashed grey;
  cursor: pointer;
  padding: 20px;
  position: relative;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .accordion__top {
    padding: 10px 40px 10px 10px;
  }
}

.accordion__top:after {
  color: inherit;
  color: grey;
  content: "";
  font-family: 'Font Awesome 5 Free';
  font-size: inherit;
  font-size: 36px;
  font-weight: 900;
  position: absolute;
  right: 20px;
  top: 10%;
  z-index: 0;
}

@media screen and (max-width: 767px) {
  .accordion__top:after {
    font-size: 24px;
    right: 10px;
  }
}

.accordion__top--active {
  box-shadow: none;
  position: relative;
}

.accordion__top--active:after {
  color: inherit;
  color: grey;
  content: "";
  font-family: 'Font Awesome 5 Free';
  font-size: inherit;
  font-size: 36px;
  font-weight: 900;
  position: absolute;
  right: 20px;
  top: 10%;
  z-index: 10;
}

@media screen and (max-width: 767px) {
  .accordion__top--active:after {
    font-size: 24px;
    right: 10px;
  }
}

.accordion__ttl {
  display: inline;
  position: relative;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .accordion__ttl {
    font-size: 14px;
    letter-spacing: 0.1em;
  }
}

.accordion__ttl--icon {
  color: #2f87bf;
  font-size: 18px;
  margin-right: 2px;
  vertical-align: text-bottom;
}

@media screen and (max-width: 767px) {
  .accordion__ttl--icon {
    font-size: 13px;
  }
}

.accordion__bottom {
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 1.5em;
  padding: 24px;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .accordion__bottom {
    font-size: 14px;
    letter-spacing: 0.12em;
    padding: 20px 40px 20px 20px;
  }
}

.br-sp {
  display: none;
}

@media screen and (max-width: 767px) {
  .br-sp {
    display: inline;
  }
}

.br-tab {
  display: none;
}

@media screen and (max-width: 1149px) {
  .br-tab {
    display: inline;
  }
}

.bread {
  font-size: 16px;
  margin: 16px 0 32px;
}

@media screen and (max-width: 767px) {
  .bread {
    font-size: 14px;
  }
}

.bread .bread__link {
  border-bottom: 1px solid #fff;
  padding: 0 6px 6px 0;
}

.bread .bread__link:hover {
  border-bottom: 1px solid #000;
}

.bread > span > a {
  border-bottom: 1px solid #fff;
  padding: 0 6px 6px 0;
}

.bread > span > a:hover {
  border-bottom: 1px solid #000;
}

.btn {
  background-color: #e79c2a;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 16px;
  padding: 16px 32px 16px 20px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .btn {
    font-size: 14px;
    padding: 8px 22px 8px 16px;
  }
}

.btn::after {
  color: inherit;
  content: "";
  font-family: 'Font Awesome 5 Free';
  font-size: inherit;
  font-weight: 900;
  position: absolute;
  right: 10%;
  top: 25%;
}

@media screen and (max-width: 767px) {
  .btn::after {
    right: 5%;
    top: 25%;
  }
}

.btn:hover {
  background-color: #c88116;
  color: #fff;
}

.carousel .carousel-indicators {
  bottom: -30px;
}

.carousel .carousel-indicators li {
  background-color: grey;
}

.carousel .carousel-indicators .active {
  background-color: #2f87bf;
}

.carousel .carousel-inner .carousel-wrapper {
  bottom: 30%;
  position: absolute;
}

@media screen and (max-width: 767px) {
  .carousel .carousel-inner .carousel-wrapper {
    bottom: 20%;
  }
}

.carousel .carousel-inner .carousel-contents {
  background-color: rgba(50, 50, 50, 0.6);
  height: 100%;
  left: 5%;
  padding: 32px;
  position: absolute;
  width: 50%;
  z-index: 99;
}

@media screen and (max-width: 767px) {
  .carousel .carousel-inner .carousel-contents {
    padding: 16px;
    width: 70%;
  }
}

.carousel .carousel-inner .carousel-contents .carousel__ttl {
  color: #fff;
  font-size: 24px;
  margin-bottom: 8px;
  opacity: 0.9;
}

@media screen and (max-width: 767px) {
  .carousel .carousel-inner .carousel-contents .carousel__ttl {
    font-size: 16px;
  }
}

.carousel .carousel-inner .carousel-contents .carousel__txt {
  color: #fff;
  font-size: 16px;
  margin-bottom: 8px;
  margin-bottom: 32px;
  opacity: 0.9;
}

@media screen and (max-width: 767px) {
  .carousel .carousel-inner .carousel-contents .carousel__txt {
    font-size: 10px;
  }
}

.carousel .carousel-inner .carousel-item {
  height: 480px;
}

@media screen and (max-width: 1149px) {
  .carousel .carousel-inner .carousel-item {
    height: 400px;
  }
}

@media screen and (max-width: 767px) {
  .carousel .carousel-inner .carousel-item {
    height: 320px;
  }
}

.carousel .carousel-inner .carousel-item--01 {
  background: url(../img/dist/mv01.jpg) top center no-repeat;
  background-size: cover;
}

.carousel .carousel-inner .carousel-item--02 {
  background: url(../img/dist/mv02.jpg) top center no-repeat;
  background-size: cover;
}

.carousel .carousel-inner .carousel-item--03 {
  background: url(../img/dist/mv03.jpg) top center no-repeat;
  background-size: cover;
}

.contact {
  padding: 0 0 80px 0;
}

.contact .contact__txt {
  font-size: 16px;
  text-align: left;
}

.contact .contact-table {
  border-collapse: collapse;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  margin: 48px auto 0 auto;
  table-layout: fixed;
  width: 100%;
}

.contact .contact-table .contact-table__txt {
  font-size: 16px;
  margin-top: 16px;
  text-align: left;
}

.contact .contact-table .contact-table__th {
  background-color: #eee;
  border: 1px solid #ccc;
  font-size: 16px;
  padding: 24px 0 24px 24px;
  vertical-align: top;
  width: 280px;
}

@media screen and (max-width: 767px) {
  .contact .contact-table .contact-table__th {
    display: block;
    padding: 16px 16px 16px;
    width: 100%;
  }
}

.contact .contact-table .contact-table__td {
  border: 1px solid #ccc;
  padding: 24px 24px 24px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .contact .contact-table .contact-table__td {
    display: block;
    padding: 16px 16px 16px;
    width: 100%;
  }
}

.contact .contact-table .contact-table__required {
  background-color: #d0443a;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  margin-left: 4px;
  padding: 4px;
}

.contact .contact-form {
  font-size: 16px;
}

.contact .contact-form__input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-color: #fff;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  height: 100px;
  height: 30px;
  padding: 0.4em 0.8em;
  width: 200px;
  width: 100%;
}

.contact .contact-form__input:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  box-shadow: none;
  outline: none;
}

.contact .contact-form__textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-color: #fff;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  height: 300px;
  padding: 0.4em 0.8em;
  width: 200px;
  width: 100%;
}

.contact .contact-form__textarea:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  box-shadow: none;
  outline: none;
}

.contact .contact-form-wrapper {
  margin-top: 32px;
  text-align: center;
}

.contact .contact-form__submit {
  -webkit-appearance: none;
  background-color: #e79c2a;
  background-image: none;
  border: none;
  border-radius: 0;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  color: inherit;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-size: 16px;
  margin: 0 0 1em;
  padding: 16px 80px;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

.contact .contact-form__submit:focus {
  outline: none;
}

.contact .contact-form__submit::-moz-foucus-inner {
  border: none;
  padding: 0;
}

.contact .contact-form__submit:hover {
  background-color: #c88116;
}

.customer {
  background: url(../img/dist/service03.jpg) center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  text-align: center;
}

.customer .customer__ttl {
  font-weight: 600;
}

.customer .customer__txt {
  font-weight: 600;
}

.customer .customer-list {
  background-color: #f1f8fc;
  border: 4px solid #2f87bf;
  border-radius: 5px;
  margin: 8px auto 40px;
  padding: 32px 16px;
  text-align: left;
  width: 80%;
}

@media screen and (max-width: 767px) {
  .customer .customer-list {
    width: 100%;
  }
}

.customer .customer-list .customer-list__item {
  color: #333;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 32px;
  padding-left: 56px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .customer .customer-list .customer-list__item {
    font-size: 16px;
    padding-left: 30px;
  }
}

.customer .customer-list .customer-list__item:last-child {
  margin-bottom: 0;
}

.customer .customer-list .customer-list__icon {
  color: #2f87bf;
  font-size: 48px;
  left: 0;
  position: absolute;
  top: -8px;
}

@media screen and (max-width: 767px) {
  .customer .customer-list .customer-list__icon {
    font-size: 24px;
    top: 2px;
  }
}

.drawer-hamburger {
  display: none;
  padding-right: 16px;
}

@media screen and (max-width: 767px) {
  .drawer-hamburger {
    display: block;
  }
}

.drawer-hamburger .sr-only {
  margin: 0;
}

.drawer-hamburger-icon::before {
  top: -6px;
}

.drawer-hamburger-icon::after {
  top: 6px;
}

.drawer-nav {
  z-index: 9999;
}

.drawer-menu-item {
  font-size: 12px;
}

.footer {
  background-color: #f1f8fc;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.footer .footer__txt {
  margin-bottom: 4px;
}

.footer .footer-top {
  align-items: flex-start;
  color: #000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 16px 0;
  text-align: left;
}

.footer .footer-left {
  padding: 16px;
  width: 40%;
}

@media screen and (max-width: 767px) {
  .footer .footer-left {
    margin-bottom: 16px;
    width: 100%;
  }
}

.footer .footer-left .footer-logo {
  margin-bottom: 24px;
}

.footer .footer-left .footer-logo .footer-logo__link {
  font-size: 24px;
}

.footer .footer-right {
  padding: 16px;
  width: 60%;
}

@media screen and (max-width: 767px) {
  .footer .footer-right {
    width: 100%;
  }
}

.footer .footer-copy {
  align-items: center;
  background-color: #2f87bf;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.footer .footer-copy .footer-copy__txt {
  height: 100%;
  padding: 16px 0;
}

@media screen and (max-width: 767px) {
  .footer .footer-copy .footer-copy__txt {
    font-size: 12px;
  }
}

.footer-nav {
  margin-left: auto;
}

.footer-nav .footer-nav-list {
  margin-top: 16px;
}

.footer-nav .footer-nav-list .footer-nav-list__item {
  margin-bottom: 8px;
}

.footer-nav .footer-nav-list .footer-nav-list__item .footer-nav-list__link {
  font-size: 14px;
  transition: all 0.2s ease-out;
}

.footer-nav .footer-nav-list .footer-nav-list__item .footer-nav-list__link:hover {
  color: #4e9fd3;
}

.header {
  background: #2f87bf;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  height: 60px;
  position: relative;
  top: 0;
  width: 100%;
}

.header-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
}

.header-logo {
  color: #fff;
  font-size: 1.6rem;
}

.header-nav {
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .header-nav {
    display: none;
  }
}

.header-nav-list {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.header-nav-list__item {
  margin-right: 40px;
}

.header-nav-list__item:last-child {
  margin-right: 0;
}

.header-nav-list__item .header-nav-list__link {
  color: #fff;
  font-size: 1.6rem;
  transition: all 0.2s ease-out;
}

.header-nav-list__item .header-nav-list__link:hover {
  opacity: 0.5;
}

.headline {
  background-color: #ddedf7;
  height: 32px;
  padding: 8px 0;
}

@media screen and (max-width: 767px) {
  .headline {
    display: none;
  }
}

.headline .headline__txt {
  display: block;
  font-size: 10px;
}

.inner {
  height: 100%;
  margin: 0 auto;
  max-width: 100%;
  width: 1150px;
}

@media screen and (max-width: 1149px) {
  .inner {
    padding: 0 40px;
  }
}

@media screen and (max-width: 767px) {
  .inner {
    padding: 0 16px;
  }
}

.inner--carousel {
  position: relative;
}

.mv {
  background: rgba(50, 50, 50, 0.6) center center;
  background-size: cover;
}

.mv .mv-table {
  display: table;
  height: 100%;
  width: 100%;
}

.mv .mv-table-cell {
  color: #fff;
  display: table-cell;
  vertical-align: middle;
}

.mv .mv-ttl {
  font-size: 3.6em;
  font-weight: 700;
  margin-bottom: 32px;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .mv .mv-ttl {
    font-size: 2.4em;
  }
}

.mv .mv-txtarea {
  margin-bottom: 64px;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .mv .mv-txtarea {
    margin-bottom: 48px;
  }
}

.mv .mv-txt {
  font-size: 2.4em;
}

@media screen and (max-width: 767px) {
  .mv .mv-txt {
    font-size: 1.6em;
  }
}

.overview-table {
  border-collapse: collapse;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  font-size: 16px;
  margin: 48px auto 0 auto;
  table-layout: fixed;
  width: 100%;
}

.overview-table .overview-table__txt {
  font-size: 16px;
  margin-top: 16px;
  text-align: left;
}

.overview-table .overview-table__th {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 24px 0 24px 24px;
  width: 200px;
}

@media screen and (max-width: 767px) {
  .overview-table .overview-table__th {
    display: block;
    padding: 16px 16px 16px;
    width: 100%;
  }
}

.overview-table .overview-table__td {
  border: 1px solid #ccc;
  padding: 24px 24px 24px;
}

@media screen and (max-width: 767px) {
  .overview-table .overview-table__td {
    display: block;
    padding: 16px 16px 16px;
    width: 100%;
  }
}

.overview-table .overview-table__link {
  border-bottom: 1px solid #fff;
  padding: 0 6px 6px 6px;
}

.overview-table .overview-table__link:hover {
  border-bottom: 1px solid #000;
}

.post {
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .post {
    font-size: 14px;
  }
}

.post .post__h2, .post .post-body h2, .post-body .post h2 {
  border-bottom: 1px solid #2f87bf;
  font-size: 24px;
  font-weight: 600;
  margin: 32px 0;
  padding-bottom: 8px;
}

.post h3,
.post .post__h3,
.post .post-body h3,
.post-body .post h3 {
  border-bottom: 1px dashed #2f87bf;
  font-size: 24px;
  margin: 24px 0;
  padding-bottom: 8px;
}

.post h4,
.post .post__h4,
.post .post-body h4,
.post-body .post h4 {
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0;
  padding-bottom: 8px;
}

.post h5,
.post .post__h5,
.post .post-body h5,
.post-body .post h5 {
  font-size: 20px;
  margin: 20px 0;
  padding-bottom: 8px;
}

.post p,
.post .post__txt,
.post .post-body p,
.post-body .post p {
  font-size: 16px;
  margin: 4px 0;
}

.post .post-header {
  margin-bottom: 16px;
}

.post .post__date {
  margin: 0 16px 16px 0;
  text-align: left;
}

.post .post__img {
  margin-bottom: 16px;
  text-align: center;
  width: 100%;
}

.post .post-list {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto 40px auto;
}

.post .post-list .post-list__item {
  align-items: center;
  border-bottom: 1px dashed #000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 16px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .post .post-list .post-list__item {
    padding-bottom: 8px;
  }
}

.post .post-list .post-list__item .post-list__date {
  width: 15%;
}

@media screen and (max-width: 767px) {
  .post .post-list .post-list__item .post-list__date {
    font-size: 14px;
    width: 128px;
  }
}

.post .post-list .post-list__item .post-list__cat {
  display: block;
  margin-right: 32px;
  text-align: center;
  width: 15%;
}

@media screen and (max-width: 767px) {
  .post .post-list .post-list__item .post-list__cat {
    margin: 0;
    width: 40%;
  }
}

.post .post-list .post-list__item .post-list__cat .post-list__cat-link {
  background-color: #4e9fd3;
  color: #fff;
  display: block;
  padding: 8px;
}

@media screen and (max-width: 767px) {
  .post .post-list .post-list__item .post-list__cat .post-list__cat-link {
    font-size: 14px;
    padding: 0;
    width: 96px;
  }
}

.post .post-list .post-list__item .post-list__cat .post-list__cat-link:hover {
  background-color: #256a96;
}

.post .post-list .post-list__item .post-list__ttl {
  display: block;
  width: calc(70% - 64px);
}

@media screen and (max-width: 767px) {
  .post .post-list .post-list__item .post-list__ttl {
    font-size: 16px;
    margin-top: 8px;
    width: 100%;
  }
}

.post .post-list .post-list__item .post-list__link {
  display: block;
  transition: all 0.2s ease-out;
}

.post .post-list .post-list__item .post-list__link:hover {
  color: #4e9fd3;
}

.post .post-wrapper {
  display: block;
  text-align: center;
}

.post .post__btn {
  border: 1px dashed #aaa;
  display: inline-block;
  font-size: 16px;
  padding: 8px 32px;
  transition: all 0.2s ease-out;
}

.post .post__btn:hover {
  background-color: #e79c2a;
  border: 1px solid #e79c2a;
  color: #fff;
}

.nav-links {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 16px;
  justify-content: space-between;
  margin: 56px 0;
}

.nav-links .nav-title {
  border-bottom: 1px solid #fff;
  padding: 0 6px 6px 6px;
}

.nav-links .nav-title:hover {
  border-bottom: 1px solid #000;
}

.service {
  margin-top: 30px;
}

.service .service-list {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 32px;
}

.service .service-list .service-list__item {
  margin-right: 24px;
  padding: 16px;
  text-align: center;
  width: calc(33.333% - 48px / 3);
}

@media screen and (max-width: 767px) {
  .service .service-list .service-list__item {
    margin: 0 0 32px;
    width: 100%;
  }
}

.service .service-list .service-list__item:nth-child(3n) {
  margin-right: 0;
}

.service .service-list .service-list__item .service-list__img {
  background-color: red;
  border-radius: 50%;
  height: 180px;
  margin: 0 auto;
  width: 180px;
}

.service .service-list .service-list__item .service-list__img--01 {
  background: url(../img/dist/service01.jpg) center center no-repeat;
  background-size: cover;
}

.service .service-list .service-list__item .service-list__img--02 {
  background: url(../img/dist/service02.jpg) center center no-repeat;
  background-size: cover;
}

.service .service-list .service-list__item .service-list__img--03 {
  background: url(../img/dist/service03.jpg) center center no-repeat;
  background-size: cover;
}

.service .service-list .service-list__item .service-list__ttl {
  color: #2f87bf;
  margin: 16px 0;
}

@media screen and (max-width: 767px) {
  .service .service-list .service-list__item .service-list__ttl {
    margin-bottom: 8px;
  }
}

.service .service-list .service-list__item .service-list__txt {
  font-size: 16px;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .service .service-list .service-list__item .service-list__txt {
    font-size: 14px;
    text-align: left;
  }
}

.steatment .steatment-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.steatment .steatment__left {
  text-align: center;
  width: 50%;
}

@media screen and (max-width: 1149px) {
  .steatment .steatment__left {
    margin-bottom: 32px;
    width: 100%;
  }
}

.steatment .steatment__left .steatment__img {
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  height: auto;
  width: 400px;
}

@media screen and (max-width: 767px) {
  .steatment .steatment__left .steatment__img {
    width: 100%;
  }
}

.steatment .steatment__right {
  text-align: justify;
  width: 50%;
}

@media screen and (max-width: 1149px) {
  .steatment .steatment__right {
    text-align: center;
    width: 100%;
  }
}

.steatment .steatment__right .steatment__speach {
  margin-bottom: 16px;
}

.steatment .steatment__right .steatment__txt {
  font-size: 16px;
  margin-bottom: 16px;
}

@media screen and (max-width: 1149px) {
  .steatment .steatment__right .steatment__txt {
    text-align: left;
  }
}

.steatment .steatment__right .steatment__txt--rep {
  text-align: right;
}

.tab-area {
  align-items: center;
  border-bottom: 4px solid #2f87bf;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.tab-area .tab {
  background-color: grey;
  color: #fff;
  cursor: pointer;
  padding: 8px;
  text-align: center;
  width: 200px;
}

@media screen and (max-width: 767px) {
  .tab-area .tab {
    width: 50%;
  }
}

.tab-area .tab--active {
  background-color: #2f87bf;
  border: none;
}

.contents-area {
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.contents-area .contents {
  background-color: #fff;
  display: none;
  margin: 0 16px;
  padding: 16px 0 32px;
}

.contents-area .contents--show {
  display: block;
}

.wp-ttl-wrapper {
  background-attachment: fixed;
  background-color: #c8e2f2;
  background-size: cover;
  display: block;
}

.wp-ttl-wrapper .wp-ttl {
  color: #fff;
  font-weight: 600;
  margin-bottom: 0;
  padding: 80px 0;
}

@media screen and (max-width: 767px) {
  .wp-ttl-wrapper .wp-ttl {
    padding: 64px 0;
  }
}

.wp-pagenavi {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 16px;
  justify-content: center;
  margin-bottom: 32px;
  margin-top: 72px;
}

.wp-pagenavi .pages {
  display: none;
}

.wp-pagenavi .current,
.wp-pagenavi .page,
.wp-pagenavi .previouspostslink,
.wp-pagenavi .nextpostslink {
  background-color: #f1f8fc;
  height: 40px;
  line-height: 40px;
  margin-right: 8px;
  text-align: center;
  transition: all 0.2s ease-out;
  width: 40px;
}

.wp-pagenavi .current:hover,
.wp-pagenavi .page:hover,
.wp-pagenavi .previouspostslink:hover,
.wp-pagenavi .nextpostslink:hover {
  background-color: #77b5dd;
  color: #fff;
}

.wp-pagenavi .current:last-child,
.wp-pagenavi .page:last-child,
.wp-pagenavi .previouspostslink:last-child,
.wp-pagenavi .nextpostslink:last-child {
  margin-right: 0;
}

.wp-pagenavi .current {
  background-color: #2f87bf;
  color: #fff;
}

.post-body {
  padding-bottom: 48px;
}
