@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans", "ヒラギノ角ゴシック", YuGothic, "Yu Gothic", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic";
  line-height: 1;
}

h1,
h2,
h3,
h4,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
ul,
ol,
dl,
li,
figure {
  border: 0;
  box-sizing: border-box;
  color: inherit;
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

article,
aside,
footer,
header,
nav,
section,
main {
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.4px;
  line-height: 1.6;
}

section {
  display: block;
  padding: 40px 0 96px;
}

section:nth-child(odd) {
  background-color: #f3f1ed;
}

.access .access__ttl, .customer .customer__ttl, .news .news__ttl, .question .question__ttl, .service .service__ttl, .steatment .steatment__ttl {
  font-size: 32px;
  margin-bottom: 32px;
  text-align: center;
}

.accordion__ttl, .customer .customer__txt, .service .service-list .service-list__item .service-list__ttl, .steatment .steatment__right .steatment__speach {
  display: block;
  font-size: 20px;
}

.access .access-list {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 32px;
}

.access .access-list .access-list__item {
  width: 50%;
}

@media screen and (max-width: 767px) {
  .access .access-list .access-list__item {
    width: 100%;
  }
}

.access .access-list .access-map {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  height: 300px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .access .access-list .access-map {
    margin: 0 calc(50% - 50vw);
    padding: 0 4px;
    width: 100vw;
  }
}

.access-table {
  border-collapse: separate;
  border-spacing: 0 32px;
  font-size: 16px;
  padding: 0 16px 16px 16px;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .access-table {
    font-size: 14px;
  }
}

.access-table .access-table__th {
  border-right: 2px solid #2f87bf;
  padding-right: 16px;
}

@media screen and (max-width: 767px) {
  .access-table .access-table__th {
    font-size: 14px;
    padding-right: 8px;
    width: 80px;
  }
}

.access-table .access-table__td {
  padding-left: 16px;
}

@media screen and (max-width: 767px) {
  .access-table .access-table__td {
    font-size: 14px;
    padding-right: 8px;
  }
}

.accordion {
  margin-bottom: 8px;
}

.accordion__top {
  border-bottom: 1px dashed grey;
  cursor: pointer;
  padding: 20px;
  position: relative;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .accordion__top {
    padding: 10px 40px 10px 10px;
  }
}

.accordion__top:after {
  color: inherit;
  color: grey;
  content: "";
  font-family: 'Font Awesome 5 Free';
  font-size: inherit;
  font-size: 36px;
  font-weight: 900;
  position: absolute;
  right: 20px;
  top: 10%;
  z-index: 0;
}

@media screen and (max-width: 767px) {
  .accordion__top:after {
    font-size: 24px;
    right: 10px;
  }
}

.accordion__top--active {
  box-shadow: none;
  position: relative;
}

.accordion__top--active:after {
  color: inherit;
  color: grey;
  content: "";
  font-family: 'Font Awesome 5 Free';
  font-size: inherit;
  font-size: 36px;
  font-weight: 900;
  position: absolute;
  right: 20px;
  top: 10%;
  z-index: 10;
}

@media screen and (max-width: 767px) {
  .accordion__top--active:after {
    font-size: 24px;
    right: 10px;
  }
}

.accordion__ttl {
  display: inline;
  position: relative;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .accordion__ttl {
    font-size: 14px;
    letter-spacing: 0.1em;
  }
}

.accordion__ttl--icon {
  color: #2f87bf;
  font-size: 18px;
  margin-right: 2px;
  vertical-align: text-bottom;
}

@media screen and (max-width: 767px) {
  .accordion__ttl--icon {
    font-size: 13px;
  }
}

.accordion__bottom {
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 1.5em;
  padding: 24px;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .accordion__bottom {
    font-size: 14px;
    letter-spacing: 0.12em;
    padding: 20px 40px 20px 20px;
  }
}

.br-sp {
  display: none;
}

@media screen and (max-width: 767px) {
  .br-sp {
    display: inline;
  }
}

.br-tab {
  display: none;
}

@media screen and (max-width: 1149px) {
  .br-tab {
    display: inline;
  }
}

.btn {
  background-color: #e79c2a;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  font-size: 16px;
  padding: 16px 32px 16px 20px;
  position: relative;
}

.btn::after {
  color: inherit;
  content: "";
  font-family: 'Font Awesome 5 Free';
  font-size: inherit;
  font-weight: 900;
  position: absolute;
  right: 10%;
  top: 25%;
}

.btn:hover {
  background-color: #c88116;
}

.customer {
  background: url(../img/dist/service03.jpg) center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  text-align: center;
}

.customer .customer__ttl {
  font-weight: 600;
}

.customer .customer__txt {
  font-weight: 600;
}

.customer .customer-list {
  background-color: #f1f8fc;
  border: 4px solid #2f87bf;
  border-radius: 5px;
  margin: 8px auto 40px;
  padding: 32px 16px;
  text-align: left;
  width: 80%;
}

@media screen and (max-width: 767px) {
  .customer .customer-list {
    width: 100%;
  }
}

.customer .customer-list .customer-list__item {
  color: #333;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 32px;
  padding-left: 56px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .customer .customer-list .customer-list__item {
    font-size: 16px;
    padding-left: 30px;
  }
}

.customer .customer-list .customer-list__item:last-child {
  margin-bottom: 0;
}

.customer .customer-list .customer-list__icon {
  color: #2f87bf;
  font-size: 48px;
  left: 0;
  position: absolute;
  top: -8px;
}

@media screen and (max-width: 767px) {
  .customer .customer-list .customer-list__icon {
    font-size: 24px;
    top: 2px;
  }
}

.footer {
  background-color: #2f87bf;
  color: #fff;
  height: 60px;
  text-align: center;
}

.footer .footer-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
}

.footer .footer__copy {
  font-size: 16px;
}

.header {
  background: #2f87bf;
  height: 60px;
  position: relative;
  top: 0;
  width: 100%;
}

.header-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
}

.header-logo {
  color: #fff;
  font-size: 1.6rem;
}

.header-nav {
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .header-nav {
    display: none;
  }
}

.header-nav__list {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.header-nav__list-item {
  margin-right: 40px;
}

.header-nav__list-item:last-child {
  margin-right: 0;
}

.header-nav__list-link {
  color: #fff;
  font-size: 1.6rem;
}

.header-nav__list-link:hover {
  opacity: 0.5;
}

.headline {
  background-color: #ddedf7;
  height: 32px;
  padding: 8px 0;
}

@media screen and (max-width: 767px) {
  .headline {
    display: none;
  }
}

.headline .headline__txt {
  display: block;
  font-size: 10px;
}

.inner {
  height: 100%;
  margin: 0 auto;
  max-width: 100%;
  width: 1150px;
}

@media screen and (max-width: 767px) {
  .inner {
    padding: 0 24px;
  }
}

.mv {
  background: rgba(50, 50, 50, 0.3) center center;
  background-size: cover;
  height: calc(100vh - 160px);
  margin-top: -60px;
}

@media screen and (max-width: 767px) {
  .mv {
    height: calc(100vh - 80px);
    text-align: center;
  }
}

.mv .mv-table {
  display: table;
  height: 100%;
  width: 100%;
}

.mv .mv-table-cell {
  color: #fff;
  display: table-cell;
  vertical-align: middle;
}

.mv .mv-ttl {
  font-size: 3.6em;
  font-weight: 700;
  margin-bottom: 32px;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .mv .mv-ttl {
    font-size: 2.4em;
  }
}

.mv .mv-txtarea {
  margin-bottom: 64px;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .mv .mv-txtarea {
    margin-bottom: 48px;
  }
}

.mv .mv-txt {
  font-size: 2.4em;
}

@media screen and (max-width: 767px) {
  .mv .mv-txt {
    font-size: 1.6em;
  }
}

.news {
  font-size: 16px;
}

.news .news-list {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto 40px auto;
}

.news .news-list .news-list__item {
  align-items: center;
  border-bottom: 1px dashed #000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 16px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .news .news-list .news-list__item {
    padding-bottom: 8px;
  }
}

.news .news-list .news-list__item .news-list__date {
  width: 10%;
}

@media screen and (max-width: 767px) {
  .news .news-list .news-list__item .news-list__date {
    width: 96px;
  }
}

.news .news-list .news-list__item .news-list__cat {
  display: block;
  margin: 0 32px;
  text-align: center;
  width: 15%;
}

@media screen and (max-width: 767px) {
  .news .news-list .news-list__item .news-list__cat {
    margin: 0;
    width: 50%;
  }
}

.news .news-list .news-list__item .news-list__cat .news-list__cat-link {
  background-color: #4e9fd3;
  color: #fff;
  display: block;
  padding: 8px;
}

@media screen and (max-width: 767px) {
  .news .news-list .news-list__item .news-list__cat .news-list__cat-link {
    font-size: 14px;
    padding: 4px;
    width: 96px;
  }
}

.news .news-list .news-list__item .news-list__ttl {
  display: block;
  width: calc(75% - 64px);
}

@media screen and (max-width: 767px) {
  .news .news-list .news-list__item .news-list__ttl {
    font-size: 14px;
    margin-top: 8px;
    width: 100%;
  }
}

.news .news-list .news-list__item .news-list__link {
  display: block;
}

.news .news-wrapper {
  display: block;
  text-align: center;
}

.news .news__btn {
  background-color: #e79c2a;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  padding: 8px 32px;
}

.service .service-list {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 32px;
}

.service .service-list .service-list__item {
  margin-right: 24px;
  padding: 16px;
  text-align: center;
  width: calc(33.333% - 48px / 3);
}

@media screen and (max-width: 767px) {
  .service .service-list .service-list__item {
    margin: 0 0 32px;
    width: 100%;
  }
}

.service .service-list .service-list__item:nth-child(3n) {
  margin-right: 0;
}

.service .service-list .service-list__item .service-list__img {
  background-color: red;
  border-radius: 50%;
  height: 180px;
  margin: 0 auto;
  width: 180px;
}

.service .service-list .service-list__item .service-list__img--01 {
  background: url(../img/dist/service01.jpg) center center no-repeat;
  background-size: cover;
}

.service .service-list .service-list__item .service-list__img--02 {
  background: url(../img/dist/service02.jpg) center center no-repeat;
  background-size: cover;
}

.service .service-list .service-list__item .service-list__img--03 {
  background: url(../img/dist/service03.jpg) center center no-repeat;
  background-size: cover;
}

.service .service-list .service-list__item .service-list__ttl {
  color: #2f87bf;
  margin: 16px 0;
}

@media screen and (max-width: 767px) {
  .service .service-list .service-list__item .service-list__ttl {
    margin-bottom: 8px;
  }
}

.service .service-list .service-list__item .service-list__txt {
  font-size: 16px;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .service .service-list .service-list__item .service-list__txt {
    text-align: left;
  }
}

.steatment .steatment-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.steatment .steatment__left {
  text-align: center;
  width: 50%;
}

@media screen and (max-width: 1149px) {
  .steatment .steatment__left {
    margin-bottom: 32px;
    width: 100%;
  }
}

.steatment .steatment__left .steatment__img {
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  height: auto;
  width: 400px;
}

@media screen and (max-width: 767px) {
  .steatment .steatment__left .steatment__img {
    width: 100%;
  }
}

.steatment .steatment__right {
  width: 50%;
}

@media screen and (max-width: 1149px) {
  .steatment .steatment__right {
    text-align: center;
    width: 100%;
  }
}

.steatment .steatment__right .steatment__speach {
  margin-bottom: 16px;
}

.steatment .steatment__right .steatment__txt {
  font-size: 16px;
  margin-bottom: 16px;
}

@media screen and (max-width: 1149px) {
  .steatment .steatment__right .steatment__txt {
    text-align: left;
  }
}

.steatment .steatment__right .steatment__txt--rep {
  text-align: right;
}

.tab-area {
  align-items: center;
  border-bottom: 4px solid #2f87bf;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.tab-area .tab {
  background-color: grey;
  color: #fff;
  cursor: pointer;
  padding: 8px;
  text-align: center;
  width: 200px;
}

@media screen and (max-width: 767px) {
  .tab-area .tab {
    width: 50%;
  }
}

.tab-area .tab--active {
  background-color: #2f87bf;
  border: none;
}

.contents-area {
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.contents-area .contents {
  background-color: #fff;
  display: none;
  margin: 0 16px;
  padding: 16px 0 32px;
}

.contents-area .contents--show {
  display: block;
}
