body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  letter-spacing: 0.4px;
}

section {
  display: block;
  margin: 32px 0;
  padding: 40px 0;

  &:nth-child(odd) {
    background-color: #f3f1ed;
  }
}
