body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  letter-spacing: 0.2rem;
}

section {
  display: block;
  padding: 40px 0 96px;

  @include mq('sp') {
    padding: 32px 0 80px;
  }

  &:nth-child(odd) {
    background-color: #f3f1ed;
  }
}
