.wp-ttl-wrapper {
  display: block;
  // background: url(../img/dist/service03.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: lighten($base-color, 40%);

  .wp-ttl {
    @extend %top-h2;
    color: #fff;
    font-weight: 600;
    padding: 80px 0;
    margin-bottom: 0;

    @include mq('sp') {
      padding: 64px 0;
    }
  }
}

.wp-pagination {
  @include flex($justify: center);
  margin-top: 72px;
  font-size: 16px;

  .wp-pagination__nums {
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    background-color: lighten($base-color, 50%);
    margin-right: 8px;
    transition: all 0.2s ease-out;

    &:hover {
      background-color: lighten($base-color, 20%);
      color: #fff;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .wp-pagination__nums--current {
    color: #fff;
    background-color: $base-color;
  }
}
