.accordion {
  margin-bottom: 8px;

  @include mq('sp') {
    // margin: 0 15px 5px 15px;
  }

  &__top {
    position: relative;
    padding: 20px;
    border-bottom: 1px dashed grey;
    text-align: left;
    cursor: pointer;
    // border-radius: 2px;

    @include mq('sp') {
      padding: 10px 40px 10px 10px;
    }

    &:after {
      @include awesome('\f107');
      position: absolute;
      top: 10%;
      right: 20px;
      color: grey;
      font-size: 36px;
      z-index: 0;

      @include mq('sp') {
        font-size: 24px;
        right: 10px;
      }
    }

    &--active {
      position: relative;
      box-shadow: none;

      &:after {
        @include awesome('\f106');
        position: absolute;
        top: 10%;
        right: 20px;
        color: grey;
        font-size: 36px;
        z-index: 10;

        @include mq('sp') {
          font-size: 24px;
          right: 10px;
        }
      }
    }
  }

  &__ttl {
    @extend %top-h3;
    position: relative;
    display: inline;
    text-align: left;
    // margin-left: 10px;

    @include mq('sp') {
      font-size: 14px;
      letter-spacing: 0.1em;
    }

    // &:before{
    //   @include awesome("\f059");
    //   position: absolute;
    //   top: 15%;
    //   left: -20px;
    //   color: $blue;
    //   font-size: 10px;
    //   text-align:center;
    //   border: 1px solid $blue;
    //   border-radius: 50px;
    //   width: 18px;
    //   height: 18px;
    //   line-height: 16px;

    //   @include mq("sp"){
    //     top: 15%;
    //     left: -20px;
    //     color: $blue;
    //     font-size: 2px;
    //     text-align:center;
    //     border: 1px solid $blue;
    //     border-radius: 50px;
    //     width: 18px;
    //     height: 18px;
    //     line-height: 16px;

    //   }

    //  }
    &--icon {
      color: $base-color;
      font-size: 18px;
      margin-right: 2px;
      vertical-align: text-bottom;

      @include mq('sp') {
        font-size: 13px;
      }
    }
  }

  &__bottom {
    font-size: 16px;
    text-align: left;
    letter-spacing: 0.05em;
    line-height: 1.5em;
    padding: 24px;

    @include mq('sp') {
      letter-spacing: 0.12em;
      padding: 20px 40px 20px 20px;
      font-size: 14px;
    }
  }
}
