.drawer-hamburger {
  display: none;
  right: 15px !important;

  @include mq('sp') {
    display: block;
  }

  .sr-only {
    margin: 0;
  }
}

.drawer-hamburger-icon {
  // background-color: darken($base-color, %);

  &::before {
    // background-color: darken($base-color, %);

    top: -6px;
  }

  &::after {
    // background-color: darken($base-color, %);

    top: 6px;
  }
}

.drawer-nav {
  z-index: 9999;
}

.drawer-menu-item {
  font-size: 12px;
}
