.footer {
  background-color: lighten($base-color, 50%);
  text-align: center;
  color: #fff;
  font-size: 14px;

  .footer__txt {
    margin-bottom: 4px;
  }

  .footer-top {
    @include flex($align: flex-start);
    color: #000;
    text-align: left;
    padding: 16px 0;
  }

  .footer-left {
    width: 40%;
    padding: 16px;

    @include mq('sp') {
      width: 100%;
      margin-bottom: 16px;
    }

    .footer-logo {
      margin-bottom: 24px;

      .footer-logo__link {
        font-size: 24px;
      }
    }
  }

  .footer-right {
    width: 60%;
    padding: 16px;

    @include mq('sp') {
      width: 100%;
    }
  }

  .footer-copy {
    @include flex($align: center, $justify: center);
    // height: 60px;
    background-color: $base-color;

    .footer-copy__txt {
      height: 100%;
      padding: 16px 0;

      @include mq('sp') {
        font-size: 12px;
      }
    }
  }
}

.footer-nav {
  margin-left: auto;

  .footer-nav-list {
    margin-top: 16px;

    .footer-nav-list__item {
      margin-bottom: 8px;

      .footer-nav-list__link {
        font-size: 14px;
        transition: all 0.2s ease-out;

        &:hover {
          color: lighten($base-color, 10%);
        }
      }
    }
  }
}
